.content {
  padding: 1em 20em 5em;
}

/* Onboarding */
.landscape {
  background-image: url("../static//landscape.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.phrase {
  color: white;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

/* Home */
.posts {
  margin: auto;
}

.post {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Profile */
.profile-item {
  padding-top: 1em;
}

.profile-pic {
  vertical-align: middle;
  width: 20em;
  height: 20em;
  border-radius: 50%;
}

/* Error */
.error {
  padding: 1em 20em 5em;
}